body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
	background: #a98;
	color: #000;
	min-height: 400px;
}

h1, h1.panel {
	background: #cba;
	color: #532;
	border: 2px solid #654;
	font-size: 110%;
	font-weight: bold;
	letter-spacing: 0.2em;
	margin: 15px 10px 10px 10px;
}

h1 #score {
	font-weight: normal;
	letter-spacing: normal;
	float: right;
}

.panel {
	background: #532;
	color: #eee;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	margin: 5px 10px;
	padding: 10px;
	overflow: hidden;
}
.panel.options {
	padding: 0;
}

.option {
	background-clip: border;
	border-bottom: 2px solid #865;
	padding: 14px 10px;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.option:last-child {
	border-bottom: none;
}
.option.active {
	background: #865;
	color: #111;
}
.option.correct {
	background: #241;
}
.option.correct.active {
	background: #594;
	color: #130;
}
.option.incorrect.active {
	background: #a54;
	color: #410;
}

.option .comment {
	margin-top: 10px;
	font-style: italic;
	font-size: 90%;
}


.break {
	margin-top: 4px;
}
.option .comment .break {
	margin-top: 2px;
}

.buttonContainer {
	border: 1px solid #654;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	margin: 10px 10px 5px 10px;
}
.button {
	background: #257;
	color: #eee;
	border: 2px solid #235;
	border-top-color: #579;
	border-left-color: #579;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 14px 10px;
	min-height: 10px;
	letter-spacing: 0.2em;
	text-align: center;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.button:active, button.pressed {
	background: #579;
	border-color: #579;
	border-top-color: #257;
	border-left-color: #257;
	color: #112;
}

.footer {
	margin: 10px 0 0 0;
	padding: 5px 10px;
	font-size: 80%;
	color: #865;
}