body {
	font-family: Helvetica, sans-serif;
	background: #a98;
	color: #000;
	min-height: 400px;
}

h1, h1.panel {
	font-size: 110%;
	font-weight: bold;
	letter-spacing: 0.2em;
	margin: 5px 0 10px 0;
}

h1 #score {
	font-weight: normal;
	letter-spacing: normal;
	float: right;
}

.panel {
	background: #532;
	color: #eee;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	margin: 5px 0;
	padding: 10px;
	min-height: 10px;
	overflow: hidden;
}
.panel.options {
	padding: 0;
}

.option {
	background-clip: border;
	border-bottom: 2px solid #865;
	padding: 14px 10px;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.option:last-child {
	border-bottom: none;
}
.option.active {
	background: #865;
	color: #111;
}
.option.correct {
	background: #241;
}
.option.correct.active {
	background: #594;
	color: #130;
}
.option.incorrect.active {
	background: #954;
	color: #410;
}

.option .comment {
	margin-top: 10px;
	font-style: italic;
	font-size: 90%;
}

.button {
	background: #257;
	color: #eee;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	margin: 10px 0 5px 0;
	padding: 14px 10px;
	min-height: 10px;
	letter-spacing: 0.2em;
	text-align: center;
	cursor: pointer;
}
